- title @party.name
- breadcrumb 'parties', parties_path
- breadcrumb @party.name, request.fullpath

.flow_it.parties
  .two_column_flow
    .flow_it
      = render @party
    %br
    %h3 The #{@party.politicians.size} #{@party.name} Candidates
    %p.small.grey Candidates are displayed alphabetically by constituency.
    .flow_it.unshuffled_politicians
      = render @party.politicians, :show_constituency => true, :hide_incumbent_link => true
  .one_column.latest_news_small.row_height_medium
    %h2 Latest #{@party.name} News
    - if @latest_news_by_date.size == 0
      %p.grey No news articles found that mention candidates from this party.
    - else 
      %p.grey.small Recent articles that mention candidates from this party.
      %br
      = render 'news_articles/news_articles', :news_articles => @latest_news_by_date, :hide_source => true
      %br
      %p.grey.small
        %em For more news click on a specific candidate.



