- title (@party.long_name.blank?) ? @party.name : "The #{@party.long_name}"
- breadcrumb 'parties', parties_path
- breadcrumb @party.name, request.fullpath

- highlighted_notice('<p><strong> This page was created for the 2011 Manitoba Election.</strong></p><p>Visit <a href="/">our homepage</a> to learn about the <a href="/">2012 Fort Whyte byelection</a> or view <a href="http://www.elections.mb.ca/election/results/flashresults.asp">the 2011 Manitoba Election results</a>.</p>')

.flow_it
  .two_column_flow
    .flow_it
      .parties
        = render @party, :hide_party_link => true
      - if !@leader.nil?
        .politicians
          = render @leader, :show_constituency => true, :hide_incumbent_link => true
    %h3 The #{@party.politicians.size} #{@party.name} Candidates
    %p.small.grey Candidates are displayed alphabetically by constituency.
    .flow_it.unshuffled_politicians
      = render @party.politicians, :show_constituency => true, :hide_incumbent_link => true
  - if @party.notes?
    .one_column.questionnaire
      %a{:name => "questionnaire"}
      %h2 Questionnaire Response
      :markdown
        #{@party.notes}
      %br
      %p.small
        %em
          Our questionnaire procedures can be found in <a href="http://manitobaelection.ca/pages/2/faq#party-questionnaires">our FAQ</a>.
  .one_column.latest_news_small.row_height_medium
    %a{:name => "news"}
    %h2 Latest #{@party.name} News
    - if @latest_news_by_date.size == 0
      %p.grey No news articles found that mention candidates from this party.
    - else 
      %p.grey.small Recent articles that mention candidates from this party.
      %br
      = render 'news_articles/news_articles', :news_articles => @latest_news_by_date, :hide_source => true
      %br
      %p.grey.small
        %em For more news click on a specific candidate.



