- javascript('ajax_buttons')

%div#feedback
  %p
    %span{ :id => 'unmoderated_count' }
      = @new_articles.size
    Unmoderated
    %br
    %span{ :id => 'approved_count' }
      = @approved_count
    = link_to 'Approved', '/news_articles/moderate_approved'
    %br
    %span{ :id => 'rejected_count' }
      = @rejected_articles.size
    = link_to 'Rejected', '#rejected'
%h1 Unmoderated Articles
%br
- @new_articles.each do |n|
  %div{ :id => "article#{n.id}" }
    %h2= n.title
    %p
      #{link_to n.source, n.fixed_url} - #{n.pretty_date} - edit: #{link_to n.id.to_s, edit_admin_news_article_path(n)}
    %p.grey
      = n.fixed_url.gsub(/(breakingnews|breaking-news)/, '<strong>\1</strong>').html_safe
    %p
      %strong Mentions:
    - n.mentions.each do |m|
      %p
        %em= m.politician.name
        \- #{m.summary.html_safe  unless m.summary.blank?}
    = form_for n, :remote => true do |f|
      = f.hidden_field :moderation, :value => 'approved'
      = f.submit 'approve article', :class => 'ajax_button'
    = form_for n, :remote => true do |f|
      = f.hidden_field :moderation, :value => 'rejected'
      = f.submit 'reject article', :class => 'ajax_button'
      = f.text_field :rejection
    %br
    %br

%a{:name => 'rejected'}
%h1 Rejected Articles
- @rejected_articles.each do |n|
  %h2= n.title
  %p
    #{link_to n.source, n.fixed_url} - #{n.pretty_date}
    = n.rejection.html_safe
  %br

