%p
  Found #{@new_articles.size} New Articles.
  %br
  Found #{@approved_articles.size} #{link_to 'Approved Articles', '#approved'}.
  %br
  Found #{@rejected_articles.size} #{link_to 'Rejected Articles', '#rejected'}.
%h2 New Articles
- @new_articles.each do |n|
  %h3= n.title
  %p
    #{link_to n.source, n.url} - #{n.pretty_date} - id: #{n.id}
  %p
    %strong Mentions:
  - n.mentions.each do |m|
    %p
      %em= m.politician.name
      \- #{m.summary.html_safe  unless m.summary.blank?}
  = form_for n do |f|
    = f.hidden_field :moderation, :value => 'approved'
    = f.submit 'approve article'
  = form_for n do |f|
    = f.hidden_field :moderation, :value => 'rejected'
    = f.submit 'reject article'
    = f.text_field :rejection
  %br
  %br

%a{:name => 'approved'}
%h2 Approved Articles
- @approved_articles.each do |n|
  %h3= n.title
  %p
    #{link_to n.source, n.url} - #{n.pretty_date} - id: #{n.id}
  %p
    %strong Mentions:
  - n.mentions.each do |m|
    %p
      %em= m.politician.name
      \- #{m.summary.html_safe  unless m.summary.blank?}
  = form_for n do |f|
    = f.hidden_field :moderation, :value => 'rejected'
    = f.submit 'reject article'
    = f.text_field :rejection
  %br
  %br

%a{:name => 'rejected'}
%h2 Rejected Articles
- @rejected_articles.each do |n|
  %h3= n.title
  %p
    #{link_to n.source, n.url} - #{n.pretty_date}
    = n.rejection.html_safe
  %br
