%p
  %strong Politicians:
  = politician_count
  \- 
  %strong Constituencies:
  = constituency_count
  %br
  %strong News Articles:
  #{news_approved} Approved. #{news_unmoderated} #{link_to 'Unmoderated', moderate_news_articles_path}. #{news_rejected} Rejected.
  \- 
  %strong News Sources: 
  = news_sources
