- title "Constituencies"

%table
  %tr
    %th Name
    %th Image file name
    %th Image content type
    %th Image file size
    %th Image updated at
  - for constituency in @constituencies
    %tr
      %td= constituency.name
      %td= constituency.image_file_name
      %td= constituency.image_content_type
      %td= constituency.image_file_size
      %td= constituency.image_updated_at
      %td= link_to 'Show', constituency
      %td= link_to 'Edit', edit_constituency_path(constituency)
      %td= link_to 'Destroy', constituency, :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Constituency", new_constituency_path
