- title @constituency.name, false
- breadcrumb('constituencies', constituencies_path)
- breadcrumb(@constituency.name.downcase, request.fullpath)

= render :partial => @constituency

%div.flow_it
  %div.two_columns.constit_description
    %h2
      = @constituency.name
    - if @constituency.pdf_map_url?
      %div.official_map
        = link_to 'Official Map', @constituency.pdf_map_url
        = image_tag 'pdf.png'
    :markdown
      #{@constituency.description}
  %div.one_column.latest_news_small
    %h2 Latest Candidate News
    - if @latest_news_by_date.size == 0
      %p.grey No news articles found that mention candidates from this race.
    - else 
      %p.grey.small Recent articles that mention candidates from this race.
      %br
      = render 'news_articles/news_articles', :news_articles => @latest_news_by_date, :hide_source => true
      %br
      %p.grey.small
        %em For more news click on a specific candidate.
