- hide_incumbent_link ||= false
- hide_politician_link ||= false
- show_incumbent_website ||= false
- show_constituency ||= false
- hide_news_link ||= false

.politician{ :class => show_constituency ? 'show_constituency' : '' }
  -if show_constituency
    %div.constituency
      - if defined?(politician.constituency)
        = link_to politician.constituency.name, politician.constituency.friendly_path
        - if politician.incumbent
          %p.since
            Incumbent since #{politician.incumbency_year}
  .image{ :style => "border-bottom: 8px solid #{politician.party.hex_colour};" }
    - if politician.image?
      = image_tag(politician.image(:thumb))
    - else
      = image_tag('/images/missing_candidate.jpg', :width => 100)
  %p.name
    %strong
      - if hide_politician_link
        = politician.name
      - else
        = link_to politician.name, politician.friendly_path
    - if politician.incumbent && !hide_incumbent_link
      %span.incumbent_link= link_to 'incumbent', incumbents_path, :title => "since #{politician.incumbency_year}"
  - if show_incumbent_website && politician.incumbent_website?
    %p.election_website
      - if politician.website?
        = link_to 'Election', politician.website
        &
        = link_to 'MLA', politician.incumbent_website
        Websites
      - else
        = link_to 'MLA Website', politician.incumbent_website
  - else
    %p.election_website
      - if politician.website?
        = link_to 'Election Website', politician.website
      - else
        %span.grey Election Website
  %p.icons
    - if politician.email?
      = link_to image_tag('/images/mail_active.jpg'), "mailto:#{politician.email}"
    - else
      = image_tag '/images/mail_inactive.jpg'

    - if politician.facebook?
      = link_to image_tag('/images/facebook_active.jpg'), politician.facebook
    - else
      = image_tag '/images/facebook_inactive.jpg'

    - if politician.twitter?
      = link_to image_tag('/images/twitter_active.jpg'), politician.twitter
    - else
      = image_tag '/images/twitter_inactive.jpg'

    - if politician.youtube?
      = link_to image_tag('/images/youtube_active.jpg'), politician.youtube
    - else
      = image_tag '/images/youtube_inactive.jpg'
    = image_tag '/images/rss_inactive.jpg'
  
  - if !hide_news_link
    %p.news
      News: #{ link_to pluralize(politician.news_articles.size, 'Related Article'), politician.friendly_path }

  %p.candidate_party
    Political Party: #{ link_to politician.party.name, politician.party.website }

  - if politician.phone_number?
    %p.phone
      Phone:
      #{politician.phone_number}
