- title 'Candidates Nominees in All Constituencies'
- breadcrumb('constituencies', request.fullpath)

%div.flow_it
  %div.one_column
    %h3= @regions[0] + ' Constituencies'
    %ul
      - @constituencies_by_region[@regions[0]].each do |constituency| 
        %li
          = link_to constituency.name, '#'+constituency.name.parameterize
          %span.grey.small
            = pluralize(constituency.politicians.size, 'candidate')
  %div.one_column
    - @regions[1..3].each do |region|
      %h3= region + ' Constituencies'
      %ul
        - @constituencies_by_region[region].each do |constituency| 
          %li
            = link_to constituency.name, '#'+constituency.name.parameterize
            %span.grey.small
              = pluralize(constituency.politicians.size, 'candidate')

- @regions.each do |region|
  %h2.title= region + " Region"
  %p.grey There are #{pluralize(@constituencies_by_region[region].size, 'constituency')} is this region.
  - @constituencies_by_region[region].each do |constituency|
    %a{ :name => constituency.name.parameterize }
    = render :partial => 'constituencies/constituency', :object => constituency, :locals => { :smaller_header => true }
    %br
