%div#questionnaires
  - i = 0; j = 0; grouped = @politician.size / 3; @politician.each do |politician|
    - if (i % grouped == 0) && (j < @senders.size)
      %h2 #{@senders[j]}'s List
      - j += 1
    - i += 1
    - if politician.email.blank?
      %p
        %strong No Email. Send to #{politician.party.name} office instead: #{politician.party.email unless politician.party.email.blank?}
      %p
        Please forward this to #{politician.constituency.name} candidate #{politician.name}.
    - else
      %p
        = politician.email
    %p 
      Dear #{politician.name},
    %p
      I am a member of the non-partisan group Open Democracy Manitoba. We have put together a provincial election website called <a href="http://manitobaelection.ca">manitobaelection.ca</a>, which is currently one of the highest traffic election websites in the province -- connecting Manitobans with their candidate contact information and other election resources.
    %p
      Today we are sending email questionnaires to all the candidates. We will be announcing candidate responses in our next media release, and hope that yours and your fellow candidates will be included. Responses should be sent to our manitoba.election@gmail.com email address.
    %p
      Please see the six questions below and respond at your earliest convenience. Responses are limited to 200 words per question. We will only post responses that are within this limit. You need not reply to all the questions.
    %p
      We will not edit your replies nor will we editorialize or comment on your answers. Answers will be posted as text only, ignoring bold, italics, underlining or other formatting.
    %p
      Replies will be posted in batches as they are received. We will try our best to post your reply within 72 hours of its arrival.
    %p
      %em
        After September 27th we will no longer accept questionnaire responses. Replies received after this date will not be posted to our site.
    %p
      While we have your attention, please visit your candidate page on our site and review the information we have posted. If you have any corrections, additions or questions please let us know.
    %p= "http://manitobaelection.ca" + politician.friendly_path
    %p
      Sincerely,
      %br
      Kyle Geske
    %br
    %p
      %strong The Questions 
      (Maximum response of 200 words per question.)
    %p
      :markdown
        **1)** Why did you decide to run in the 2011 Manitoba election?  
        **2)** What experience will you bring to compliment your role as MLA?  
        **3)** Is there anything in particular you would like to change in our province? In your electoral division?  
        **4)** What is one thing you stand for that is not a part of your political party's platform?  
        **5)** Do you have any other comments regarding your candidacy?  
        **6)** What is your favourite location in the electoral division you are currently a candidate for?
    %br
    %p
      %strong
        About ManitobaElection.ca
    %p
      ManitobaElection.ca is a citizen created resource for the 2011 provincial election. The site features interactive constituency maps, a calendar of election-related events, and educational resources on legislative politics in Manitoba. Election candidates are listed along with links to their web pages, email addresses, Facebook fan pages and Twitter feeds. Links to election related news articles are updated daily.
    %p
      For more information: http://manitobaelection.ca/pages/1/about-us
    %hr
    %br
