- title "Politician"

%p
  %strong Name:
  = @politician.name
%p
  %strong Incumbent:
  = @politician.incumbent
%p
  %strong Website:
  = @politician.website
%p
  %strong Incumbent Website:
  = @politician.incumbent_website
%p
  %strong Facebook:
  = @politician.facebook
%p
  %strong Twitter:
  = @politician.twitter
%p
  %strong Youtube:
  = @politician.youtube
%p
  %strong Office Address:
  = @politician.office_address
%p
  %strong Phone Number:
  = @politician.phone_number
%p
  %strong Email:
  = @politician.email
%p
  %strong Image File Name:
  = @politician.image_file_name
%p
  %strong Image Content Type:
  = @politician.image_content_type
%p
  %strong Image File Size:
  = @politician.image_file_size
%p
  %strong Image Updated At:
  = @politician.image_updated_at
%p
  %strong Constituency:
  = @politician.constituency_id
%p
  %strong Party:
  = @politician.party_id

%p
  = link_to "Edit", edit_politician_path(@politician)
  |
  = link_to "Destroy", @politician, :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", politicians_path
