- content_for :bottom_scripts do
  <script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script> 
  <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>

%div.flow_it
  %div.one_column.medium_row
    %h2 Election Dates
    %p
      On <strong>Tuesday October 4 of 2011</strong> the people of Manitoba went to the polls to elect their next Legislative Assembly. 
    %p.election_countdown
      - if @days_until_election == 0
        The Election is Today!
      - elsif @days_until_election > 0
        #{pluralize(@days_until_election,'Day')} Until the Election!
    %p
      On <strong>September 4th of 2012</strong> there was a #{link_to 'by-election in the constituency of Fort Whyte', byelection_2012_path}.
    %br
    %h2 Voter Information
    %ul
      %li= link_to 'Your role as a voter', '/pages/4/your-role-as-a-voter'
      %li= link_to 'Learn about elections in Manitoba', '/pages/10/voter-education'
      %li= link_to 'Research the election issues', '/issues'
      %li= link_to 'See our historic election maps', '/historic-maps'
      %li= link_to 'Meet the incumbent MLAs', '/candidates/incumbents'

  %div.one_column.medium_row
    %h2 The 2011 MLA Candidates
    - @maps.each do |map|
      %div.mini_maps
        %div
          %p.small
            = link_to map.name, map.friendly_path
          = link_to image_tag("/images/maps/#{map.slug}/#{map.slug}-thumb.png"), map.friendly_path, :title => 'Click to see the candidates.'

  %div.one_column.medium_row.social
    <iframe src="http://www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fpages%2FManitoba-Election%2F192842560733393&amp;width=275&amp;colorscheme=light&amp;show_faces=true&amp;border_color&amp;stream=false&amp;header=false&amp;height=255" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:275px; height:255px;" allowTransparency="true"></iframe>
    %p
      <a href="http://twitter.com/MBElection" class="twitter-follow-button">Follow @MBElection</a> 
    %p
      <g:plusone></g:plusone>
      
  %div.one_column.latest_news_small
    %h2 Latest Election News
    = render 'news_articles/news_articles', :news_articles => @latest_news_by_date, :hide_source => true
    %p.more= link_to 'More News...', news_articles_path

  %div.two_columns
    %h2 The Political Parties
    %p.small.grey
      The following parties are <a href="/pages/2/faq/#parties">registered</a> with Elections Manitoba. Parties are displayed in random order.
    %br
    .parties_thumb
      - @parties.each do |party|
        %div.party_thumb
          = link_to image_tag(party.image(:small)), party.friendly_path
          %p
            = link_to party.name, party.friendly_path
