- content_for :bottom_scripts do
  <script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script> 
  <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>

%div.flow_it
  %div.one_column.medium_row
    %h2 Election Countdown
    %p
      On Tuesday October 4 of 2011 the people of Manitoba go to the polls to elect their next Legislative Assembly. 
    %p.election_countdown
      - if @days_until_election == 0
        The election is today!
      - elsif @days_until_election > 0
        #{pluralize(@days_until_election,'Day')} Until the Election!
      - else
        The election has already occured.
    %br
    %h2 Voter Information
    %ul
      %li= link_to 'Your role as a voter', '/pages/4/your-role-as-a-voter'
      %li= link_to 'Learn about elections in Manitoba', '/pages/10/voter-education'
      %li= link_to 'Research the election issues', '/issues'
      %li= link_to 'Meet the incumbent MLAs', '/candidates/incumbents'
      %li= link_to 'Explore the political parties', '/parties'
      %li= link_to 'Search this website', '/search'

  %div.one_column.medium_row
    %h2 Meet the MLA Candidates
    - @maps.each do |map|
      %div.mini_maps
        %div
          %p.small
            = link_to map.name, map.friendly_path
          = link_to image_tag("/images/maps/#{map.slug}/#{map.slug}-thumb.png"), map.friendly_path, :title => 'Click to see the candidates.'

  %div.one_column.medium_row.social
    <iframe src="http://www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fpages%2FManitoba-Election%2F192842560733393&amp;width=275&amp;colorscheme=light&amp;show_faces=true&amp;border_color&amp;stream=false&amp;header=false&amp;height=255" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:275px; height:255px;" allowTransparency="true"></iframe>
    %p
      <a href="http://twitter.com/MBElection" class="twitter-follow-button">Follow @MBElection</a> 
    %p
      <g:plusone></g:plusone>
      
  %div.one_column.latest_news_small
    %h2 Latest Election News
    = render 'news_articles/news_articles', :news_articles => @latest_news_by_date, :hide_source => true
    %p.more= link_to 'More News...', news_articles_path

  %div.two_columns
    %h2 Important Election Dates
    <iframe src="https://www.google.com/calendar/b/0/embed?showTitle=0&amp;showPrint=0&amp;showCalendars=0&amp;mode=AGENDA&amp;height=400&amp;wkst=1&amp;bgcolor=%23EEEEEE&amp;src=manitoba.election%40gmail.com&amp;color=%23182C57&amp;ctz=America%2FWinnipeg" style=" border-width:0 " width="100%" height="400" frameborder="0" scrolling="no"></iframe>
